@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
    --cor1: black;
}
header{
    background-color: var(--cor1);
    color: white;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
}
h1{
    font-family: var(--fonte2);
    font-size: 120px;
}
header p{
    font-size: 18px;
    font-family: var(--fonte1);
}
span{
    font-weight: bold;
}
h3{
    font-family: var(--fonte3);
    font-size: 45px;
    font-style: italic;
    padding: 30px;
    line-height: 70px;
}
footer{
    background-color: var(--cor1);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte1);
}
.fundo-flor{
}
.fundo-livro{

}